.body{
    color: white;
    background-image: url(../assets/images/fondo.jfif);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.contenedor{
    margin: 0 auto;
    max-width: 1080px;
    border-radius: 10px;
    color: black;
}
.h1{
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    background-color: red;
    font-size: 5rem;
    box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: #8a795d;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
   
    border:1px solid black;
    border-radius: 5px; 
    
    background-color: #f0ecd9;
    box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    color: black;
}
.main__title{
    background-color: #8a795d;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 3.5rem;
    padding: 1rem;
}
.main__form{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius:400px ;
    color: white;
    background-color: black;
}
.boton{
    width: 300px;
    background-color: white !important;
    color: black !important;
}
.footer__link{
    margin: 1rem;
    color: brown;
    text-decoration: none;
    transition: all 1s;
}
.footer__link:hover{
    color: black;
}
.contenedor__pelis{
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
   
    
}
.todaslaspelis{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ancho{
    height: 700px;
}
.imagen{
    width: 200px;
}
.img_actor{
    width: 100px;
}
.contenedor_botones{
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.borrarpeli{
    color: red;
}
.contenedor_actores{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:1rem; 
}
.cadunodeactores{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 300px;
     
    
}
.cadunodeactores img {
            max-width: 100%;
            height: auto;
}

.imagen__modificando{
    width: 300px;
}
